*{margin: 0;padding: 0;}
li{list-style: none;}
a{ text-decoration: none; }
.clearfix:after{content:""; display: block; clear: both; }
.clerrfix{zoom: 1;}
strong,b,h1,h2,h3,h4,h5,h6{font-weight: normal;}
i,em{font-style: normal;}
.fl{float: left;}
.fr{float: right;}
.w{width: 987px; margin: 0 auto;}
img{display: block;}